* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

header #highscores-button {
    cursor: pointer;
}

section {
    margin: 0.5rem auto;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vh;
}

section #quiz,
section #highscores {
    padding: 0.5rem;
    width: max-content;
}

section h1 {
    padding: 0.8rem;
}

section p {
    padding: 0.8rem;
    white-space: pre;
}

section button,
section input[type="submit"] {
    display: block;
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: 10rem;
    background-color: darkcyan;
    color: azure;
    border: 0;
    border-radius: 0.5rem;
}

section form {
    margin-top: 1rem;
}

section label {
    display: none;
}

section input {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem 0.15rem;
    width: 10rem;
}

.scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scores span {
    flex: 2 50%;
    padding: 0.5rem;
    border-bottom: 0.2rem solid darkcyan;
}

.scores span:nth-child(even) {
    border-left: 0.2rem solid darkcyan;
}

.warning {
    background-color: rgba(255, 100, 100, 0.5);
}

.warning::placeholder {
    color: rgb(65, 0, 5);
    opacity: 1;
}

.hidden {
    display: none;
}
